# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# C extensions
*.pyd

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
*egg-info/
.eggs/

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook metadata and outputs
.ipynb_checkpoints

# Mac, Windows, and Linux ds store files
.DS_Store
Thumbs.db

# Logs
*.log

# Virtual environment
venv/
ENV/

# Others
quick_test_results.png

